- root_path = ""

!!! 5
%html
  %head
    %title Hi
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    %link{ rel: :stylesheet, type: "text/css", href: "#{root_path}style/shared.css" }
  %body
    %main
      %header
        %h1 Hi, I'm Maxime
        %h2 I have been a Software Engineer for the past 9 years
      %section
        %p
          While you are here, you can checkout
          %a{ href: 'resume/fr/' } my resume
          and my
          %a{ href: 'https://github.com/01max' } github profile
