!!! 5
%html
  %head
    %title Hi
    %link{ rel: :stylesheet, type: "text/css", href: "style/shared.css" }

    %link{ rel: :icon, href: "style/favicon/favicon.ico" }
    %link{ rel: :icon, href: "style/favicon/favicon-32x32.png", sizes: "32x32" }
    %link{ rel: :icon, href: "style/favicon/favicon-16x16.png", sizes: "16x16" }

  %body
    .full-page-container
      %h1 Hi, I'm Maxime
      %h2 I have been a Software Engineer for the past 9 years
      %p
        While you are here, you can checkout
        %a{ href: 'resume/fr/' } my resume
        and my
        %a{ href: 'https://github.com/01max' } github profile

