@import variables

.profile-picture
  height: 120px

.icons
  a:hover
    text-decoration: none

.ruby-icon
  width: 2rem
  height: 2rem

.row.stike-through
  &:after
    content: ""
    position: absolute
    left: 15px
    right: 15px
    top: 24%
    border-bottom: 1px solid $greened-blue
    z-index: -1

  strong
    line-height: 2.2

.work-experiences-container
  .vector
    max-height: 1rem
    max-width: 1rem