@import ./fonts/fonts.css
@import ./bootstrap.min.css

@import variables

html
  height: 100% !important

body
  font-family: 'Poppins', sans-serif
  color: $blued-white
  background: $darker-blue
  &.full-page
    background: radial-gradient(circle, $dark-blue 0%, $darker-blue 100%)

a
  color: $base-yellow
  &:hover
    color: $warm-yellow

h1, h2, h3
  font-weight: bold

hr, .border, .border-top, .border-right, .border-bottom, .border-left
  border-color: $greened-blue !important

@media (max-width: 768px)
  .border-hide-sm
    border: none !important

.forced-background
  background: $darker-blue

.alt-background
  background: $dark-blue

.vector
  max-height: 1.6rem
  max-width: 1.6rem