@import ./fonts/fonts.css
@import ./bootstrap.min.css

@import variables

html
  height: 100% !important

body
  font-family: 'Poppins', sans-serif
  color: $blued-white
  background: $darker-blue
  &.full-page
    background: radial-gradient(circle, $dark-blue 0%, $darker-blue 100%)

a
  color: $base-yellow
  &:hover
    color: $warm-yellow

h1, h2
  font-weight: bold

hr
  border-color: $greened-blue
